html{
    box-sizing: border-box;
    font-size: 100%;
}

*,*::after,*::before
{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1{
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

#map{
    height:78vh;
}

.gm-style-iw{
    color: black;
}